.button{
    height: 900px;
}

/* Start added by Jefry Yap */
.requestDialog .sapMILILabel {
    width: 40%;
    flex: 0 0 40%;
    box-sizing: border-box;
    padding-right: 0.5rem;

}

.requestDialog .sapMILI-Content {
  flex: 1 1 auto;
  width: 60%;
}


/* End added by Jefry Yap */